@using Blogifier.Shared
@{
    Layout = "layouts/_main.cshtml";
}

<partial name="components/homeavatar.cshtml" />

<section class="page-section portfolio" id="portfolio">

    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <partial name="post/view-grid.cshtml" />

        @*
        <partial name="components/pagination.cshtml" />
        *@

    </div>
</section>

@await Component.InvokeAsync("IndexAbout")
@await Component.InvokeAsync("SmartbootstrapContact")
@await Component.InvokeAsync("BlogifierContact")

