@using Blogifier.Shared
@{
    Layout = "layouts/_main.cshtml";
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <partial name="post/view-grid.cshtml" />
        <partial name="components/pagination.cshtml" />
    </div>
</section>
