@using Blogifier.Core.Web
@using Blogifier.Shared
@using Blogifier.Core.Providers
@using Blogifier.Core.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "../Shared/layouts/_main.cshtml";
}

<h1>Theme.One</h1>
<h2>A MIT licensed Theme</h2>
<h2><strong>Original HTML by</strong> somebody who did it</h2>
<h2><strong>Adaptation and additional coding by</strong> @@marcoregueira</h2>
